{
  "parser": "typescript-eslint-parser",
  "extends": ["airbnb"],
  "plugins": ["react", "jsx-a11y", "import", "mocha"],
  "globals": {
    "document": true,
    "window": true,
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "fetch": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "class-methods-use-this": 0,
    "curly": ["error", "all"],
    "radix": 0,
    "no-confusing-arrow": "error",
    "react/prefer-stateless-function": 0,
    "import/extensions": [
      "error",
      {
        "ignore": [
          "@src",
          "@less"
        ]
      }
    ],
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "@src",
          "@less"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
